@model MusicDemo.Website.ViewModels.AlbumDetailsViewModel

@{
    ViewBag.Title = "Album Details";
}

<div class="page-header">
	<h1>
		<a href="@(Url.Action("Details", "Artist", routeValues: new { artistID = Model.ArtistID }))" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-chevron-left">
				<span class="sr-only">Back To Artist</span>
			</span>
		</a>
		<small>
			Album
		</small>
		@Html.DisplayFor(model => model.Name)
		<a href="@(Url.Action("Edit", routeValues: new { artistID = Model.ArtistID, albumID = Model.AlbumID }))" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-pencil">
				<span class="sr-only">Edit</span>
			</span>
		</a>
	</h1>
</div>

@if (Model.Tracks.Any())
{
	<div class="panel panel-default">
		<div class="panel-heading">
			@Html.ActionLink("Add New Track", "Create", "Track", routeValues: new { artistID = Model.ArtistID, albumID = Model.AlbumID }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					@foreach (var item in Model.Tracks)
					{
						<tr>
							<td class="textholder">
								<span class="badge">
									@Html.DisplayFor(modelItem => item.Number)
								</span>
								<span>
									@Html.DisplayFor(modelItem => item.Name)
								</span>
							</td>
							<td class="commandholder">
								<a href="@(Url.Action("Edit", "Track", routeValues: new { artistID = Model.ArtistID, albumID = item.AlbumID, trackID = item.TrackID }))" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-pencil">
										<span class="sr-only">Edit</span>
									</span>
								</a>
								@using (Html.BeginForm("Delete", "Track", method: FormMethod.Post, routeValues: new { artistID = Model.ArtistID, albumID = item.AlbumID, trackID = item.TrackID },
									htmlAttributes: new { @class = "form-inline" }))
								{
									@Html.AntiForgeryToken()
									<button class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-trash">
											<span class="sr-only">Delete</span>
										</span>
									</button>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			@Html.ActionLink("Add New Track", "Create", "Track", routeValues: new { artistID = Model.ArtistID, albumID = Model.AlbumID }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
		</div>
	</div>
}
else
{
	<div class="alert alert-info">
		This album currently does not have any tracks within the database.
		@Html.ActionLink("Add a track now.", "Create", "Track", routeValues: new { artistID = Model.ArtistID, albumID = Model.AlbumID }, htmlAttributes: new { @class = "alert-link" })
	</div>
}
