@model MusicDemo.Website.ViewModels.ArtistDetailsViewModel

@{
    ViewBag.Title = "Artist Details";
}

<div class="page-header">
	<h1>
		<a href="@(Url.Action("Index"))" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-chevron-left">
				<span class="sr-only">Back To List</span>
			</span>
		</a>
		<small>
			Artist
		</small>
		@Html.DisplayFor(model => model.Name)
		<a href="@(Url.Action("Edit", routeValues: new { artistID = Model.ArtistID }))" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-pencil">
				<span class="sr-only">Edit</span>
			</span>
		</a>
	</h1>
</div>

@if (Model.Albums.Any())
{
	<div class="panel panel-default">
		<div class="panel-heading">
			@Html.ActionLink("Add New Album", "Create", "Album", routeValues: new { artistID = Model.ArtistID }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					@foreach(var item in Model.Albums)
					{
						<tr>
							<td class="linkholder">
								<a href="@(Url.Action("Details", "Album", routeValues: new { artistID = item.ArtistID, albumID = item.AlbumID }))">
									@Html.DisplayFor(modelItem => item.Name)
								</a>
							</td>
							<td class="commandholder">
								<a href="@(Url.Action("Edit", "Album", routeValues: new { artistID = item.ArtistID, albumID = item.AlbumID }))" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-pencil">
										<span class="sr-only">Edit</span>
									</span>
								</a>
								@using (Html.BeginForm("Delete", "Album", method: FormMethod.Post, routeValues: new { artistID = item.ArtistID, albumID = item.AlbumID },
									htmlAttributes: new { @class = "form-inline" }))
								{
									@Html.AntiForgeryToken()
									<button class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-trash">
											<span class="sr-only">Delete</span>
										</span>
									</button>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			@Html.ActionLink("Add New Album", "Create", "Album", routeValues: new { artistID = Model.ArtistID }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
		</div>
	</div>
}
else
{
	<div class="alert alert-info">
		This artist currently does not have any albums within the database.
		@Html.ActionLink("Add an album now.", "Create", "Album", routeValues: new { artistID = Model.ArtistID }, htmlAttributes: new { @class = "alert-link" })
	</div>
}
